# defaults from the WebKit style
BasedOnStyle: WebKit
Language: Cpp
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements